
body {

    background: 

    linear-gradient(135deg,#0000 20.5%,#131313 0 29.5%,#0000 0) 0 40px,
    linear-gradient( 45deg,#0000 8%,#131313 0 17%, #0000 0 58%) 80px 0,
    linear-gradient(135deg,#0000 8%,#131313 0 17%, #0000 0 58%,#131313 0 67%,#0000 0),        
    linear-gradient( 45deg,#0000 8%,#131313 0 17%, #0000 0 58%,#131313 0 67%,#0000 0 83%,#131313 0 92%,#0000 0),#111111;

    background-size: 160px 160px;
}


.top {

    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;

}

.t-left {

    width: 350px;
    background-color: rgba(153, 153, 255, 0);
    text-align: center;
    border-color: rgb(91, 91, 91);
    border-style: solid;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.t-center {

    flex: 1;
    border-color: rgb(255, 243, 108);
    border-style: solid;
    border-width: 2px;

}


.homelink {

    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(0, 255, 170, 0);
    transition: font-size 0.1s, color 0.1s;
}


.aboutlink, .skillslink {

    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(0, 255, 170, 0);
    transition: font-size 0.1s, color 0.1s;

}


.contactlink {

    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 255, 170, 0);
    transition: font-size 0.1s, color 0.1s, active 0.1s;
}

.homelink:hover,
.aboutlink:hover,
.skillslink:hover,
.contactlink:hover {

    font-size: 23px;
    color:rgb(255, 243, 108);
}


.bottom {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    margin-top: 10px ;
    bottom:10px;
    left: 0;
    right: 0;
}

.b-left {

    flex: 1;
    border-color: rgb(255, 243, 108);
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.b-center {

    width: 350px;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    border-color: rgba(91, 91, 91, 0);
    background-color: rgb(91, 91, 91);
    backdrop-filter: blur(15px);
    padding-top: 9px;
    padding-bottom: 4px;
}

.b-right {

    flex: 1;
    border-color: rgb(255, 243, 108);
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.sc-icon {

    width: 35px;
    margin-left: 2px;
    margin-right: 2px;
    transition: width 0.15s, border-color 0.1s;

}

.sc-icon:hover {

    width: 45px;
    border-color: rgb(255, 243, 108);
    border-width: 2px;
    border-style: solid;
    border-radius: 22.5px;
}

.middle {

    width: 600px;
    height: 75vh;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;

}


.text {

    display: flex;
    justify-content: center;

}

.text-1 {

    font-size: 35px;
    color: rgb(255, 243, 108);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}



.input-boxes {

    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.name {

    flex: 1;
    border-color: rgb(255, 243, 108);
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.email {

    flex: 2;
    border-color: rgb(255, 243, 108);
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.subject {

    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.subject-1 {

    border-color: rgb(255, 243, 108);
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    width: 100%;
    padding: 15px;
    background: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.text-message {

    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-bottom: 5px;
}

.message {

    border-color: rgb(255, 243, 108);
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    width: 100%;
    padding: 20px;
    background: transparent;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.button {
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.send-button {

    background-color: rgb(255, 243, 108);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 10px rgb(255, 243, 108);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;

}


.error {

    flex: 1;
    background: transparent;
    outline: none;
    color: rgb(255, 0, 0);
    border: none;
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;

}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .top {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .t-center {
        border-style: none;
    }

    .t-left {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .aboutlink, .contactlink, .homelink, .skillslink {

        font-size: 15px;
    }

    .middle {
        width: 90%;
        margin-top: 100px;
    }

    .text-1 {
        font-size: 28px;
    }

    .name, .email, .subject-1, .message {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 15px;
        border-radius: 20px;
        font-size: 15px;
    }

    .send-button {
        width: 100%;
        padding: 15px;
        font-size: 15px;
    }

    .b-center {
        width: 50%;
    }

    .sc-icon {
        width: 25px;
    }

    .sc-icon:hover {
        width: 35px;
    }
}

